body {
    background: #f8fafb;
    font-family: 'Press Start 2P', cursive;
}

.header {
    text-align: center; 
    font-weight: lighter;
    line-height: 1.6em;
}

.main > div, .selection, .selection-list, .card, .card-content, .message-box {
    display: flex;
}

.machine , .machine-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desktop2.png');
    background-size: contain;
    background-repeat: none;
    position: relative;
    width: 296px;
    height: 296px;
}

.machine-selection-img {
    margin: 2em auto;
    position: absolute;
}

.hand-img{
    margin: 1.6em auto;
    position: relative;
    animation-name: movehandimg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movehandimg{
    0%{top: 0px; bottom: 18px}
    100%{top: 18px; bottom: 0px}
}

.machine-text {
    margin: 11em auto; 
    position: absolute;
    color: #33f59c;
    text-align: center;
    font-size: small;
    line-height: 2em;
    padding: 2px 4px;
}

.message-box {
    flex-direction: column;
    align-items: center;
}

.message-text {
    margin: 1em auto;
    position: relative;
    color: #33f59c;
    text-align: justify;
    font-size: small;
    line-height: 1.5em;
    word-spacing: -4px;
    padding: 22px 28px;
}

.selection-temp {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selection-temp > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.selection {
    flex-direction: row;
    justify-content: space-around;
}

.selection-list {
    flex-direction: column;
    align-items: center;
}

.card {
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    height: auto;
    margin: 1rem;
    position: relative;
    width: auto;
    padding: 8px 16;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.card-content {
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
}

button {
    position: relative;
    border-radius: 0.4em; 
    margin: 2px;
    padding: 6px 24px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    color: #ffffff;
    cursor: pointer;
}

.btn-green {
    border: none;
    background-color: #4ad395;
}

.btn-purple {
    border: 4px solid #b56be1;
    background-color: #b56be1;
}

.temp-display-none {
    display: none;
}

input[type='image'] {
    padding: 22px 32px;
    margin: 4em 1em 1em;
    border-radius: 0.4em; 
}